.Red{
  color : red;
}
.Green{
  color : green;
}
.Card{
  border : 2px solid black;
  border-radius: 5%;
  width : 400px;
  height : 400px;
  margin : 10px;
  background-color: rgb(66, 186, 176);
}
.CardList{
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
ul{
  list-style: none;
}
li{
  margin: 10px;
}
.Warning{
  text-align: center;
}
.heading{
  font-weight: bold;
}
body{
  background-image: url('https://www.shutterstock.com/image-photo/blurred-background-bright-airy-modern-600nw-2537556017.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.roomName{
  color:rgb(216, 16, 16);
  font-weight: bold;
}